stages:
  - test
  - build
  - bench

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'web'
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

variables:
  DOCKER_TLS_CERTDIR: ""

build:docker:
  image: docker:24.0.5
  script:
    - |
      docker build \
      --tag jlewallen/burrow \
      --target builder .

tests:
  stage: test
  when: manual
  image: docker:24.0.5
  needs: [build:docker]
  script:
    - |
      docker build --load \
      --tag jlewallen/burrow-tests \
      --target tests .
    - docker run --rm jlewallen/burrow-tests "cargo test --workspace"

bench:all:
  stage: bench
  when: manual
  image: docker:24.0.5
  needs: [tests]
  script:
    - |
      docker build --load \
      --tag jlewallen/burrow-tests \
      --target=tests .
    - docker run --rm jlewallen/burrow-tests "cargo bench --workspace --verbose"
    - docker run --rm jlewallen/burrow-tests "cd libs/tests && cargo bench --bench simple -- --profile-time=5"
