body {
  background-color: #1d1e20;
  color: rgb(196, 196, 196);
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  overflow-y: hidden;
}

body {
  height: 100vh;
}

#wrapper {
  height: 100%;
}

#hack {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  margin-top: 0em;
}

#upper {
  flex: 1;
  overflow: auto;
}

#upper.obscured {
  opacity: 0.5;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#lower {
  .bottom-bar {
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;

    .logout {
      padding-right: 1em;
      font-weight: bold;
      font-size: 12pt;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.bottom-editor {
  height: 65vh;
  background-color: #1e1e1e;
  padding-top: 1em;

  .full-height {
    height: 100%;
  }
}

.example-page {
  .full-height {
    height: 100%;
  }

  #code-editor,
  #event-log-wrapper {
    float: left;
    width: 50%;
    height: 100%;
  }

  #event-log {
    margin-left: 20px;
  }

  #code-wrapper {
    height: 100%;
  }
}

form {
  .form-group {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.command-line-editor {
  flex-grow: 1;
  margin: 1em;

  input {
    background-color: #393e46;
    color: white;
  }

  input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #222;
    border-radius: 0.25rem;
  }
}

.history {
  .entries {
    .entry {
      padding: 1em;
    }

    .entry.observation.area {
      div {
        padding-top: 0.3em;
      }
    }
  }

  .gid {
    color: #5f5f5f;
  }
}